<div class="user-details">
  <h1>About me</h1>
  <p>{{ site.user_description }}</p>
</div>
<div class="user">
  <div class="tech">
    <h2>Research</h2>
    <p>My particular research interests include: combinatorial optimization, efficient data structures and graph algorithms, graph theory</p>
  </div>
  <div class="tech">
    <h2>Teaching</h2>     
    <p>I have taught classes about the following subjects: Graph Theory, Introduction to Computer Science, Design and Analysis of Algorithms, Formal Languages and Automata Theory, Introduction to Algorithms and Graphs, Advanced Topics in Artificial Intelligence, Data Structures and Algorithms, Data Processing (Fortran)</p>
  </div>
  <div class="tech">
    <h2>Service</h2>
    <p>Git, Gulp, Grunt, NPM, Linux, Docker, you name it, I have used a bajillion tools!</p>
  </div>
</div>
