<div class="user-details">
  <h1>About me</h1>
  <p>{{ site.user_description }}</p>
</div>
<div class="user">
  <div class="tech">
    <h2>Research</h2>
    <p>My particular research interests include: combinatorial optimization, efficient data structures and graph algorithms, graph theory. <br>
      For more details, access <a href="http://lattes.cnpq.br/7975984954243833">my curriculum</a>
    </p>
  </div>
  <div class="tech">
    <h2>Teaching</h2>     
    <p>So far, I have taught the following courses: Graph Theory, Design and Analysis of Algorithms, Formal Languages and Automata Theory, Data Structures and Data Processing.
      <br>
      For more details, access <a href="http://lattes.cnpq.br/7975984954243833">my curriculum</a>
    </p>
  </div>
  <div class="tech">
    <h2>Service</h2>
    <p>Thank you for visiting my website. If you are interested in any of my services or have a question, please feel free to reach me by <a href="mailto:januario@ufba.br">email</a>. </p>
  </div>
</div>
